@import "tailwindcss";

body {
	@apply bg-zinc-900;
}

body {
	--chat--color-primary: #FF6600;
	--chat--color-primary-shade-50: #FF8533;
	--chat--color-primary-shade-100: #FF9966;
	--chat--color-secondary: #222222;
	--chat--color-secondary-shade-50: #333333;
	--chat--color-white: #ffffff;
	--chat--color-light: #e0e0e0;
	--chat--color-light-shade-50: #c0c0c0;
	--chat--color-light-shade-100: #a0a0a0;
	--chat--color-medium: #808080;
	--chat--color-dark: #121212;
	--chat--color-disabled: #555555;
	--chat--color-typing: #505050;

	--chat--spacing: 1rem;
	--chat--border-radius: 0.25rem;
	--chat--transition-duration: 0.15s;

	--chat--window--width: 400px;
	--chat--window--height: 600px;

	--chat--header-height: auto;
	--chat--header--padding: var(--chat--spacing);
	--chat--header--background: var(--chat--color-secondary);
	--chat--header--color: var(--chat--color-light);
	--chat--header--border-top: none;
	--chat--header--border-bottom: none;
	--chat--header--border-bottom: none;
	--chat--header--border-bottom: none;
	--chat--heading--font-size: 24px;
	--chat--header--color: var(--chat--color-light);
	--chat--subtitle--font-size: inherit;
	--chat--subtitle--line-height: 1.8;

	--chat--textarea--height: 50px;

	--chat--message--font-size: 1rem;
	--chat--message--padding: var(--chat--spacing);
	--chat--message--border-radius: var(--chat--border-radius);
	--chat--message-line-height: 1.8;
	--chat--message--bot--background: var(--chat--color-secondary-shade-50);
	--chat--message--bot--color: var(--chat--color-light);
	--chat--message--bot--border: none;
	--chat--message--user--background: var(--chat--color-primary);
	--chat--message--user--color: var(--chat--color-white);
	--chat--message--user--border: none;
	--chat--message--pre--background: rgba(0, 0, 0, 0.25);

	--chat--toggle--background: var(--chat--color-primary);
	--chat--toggle--hover--background: var(--chat--color-primary-shade-50);
	--chat--toggle--active--background: var(--chat--color-primary-shade-100);
	--chat--toggle--color: var(--chat--color-white);
	--chat--toggle--size: 64px;
}

.chat-messages-list {
  @apply bg-zinc-800;
}

.chat-layout .chat-header h1 {
  font-size: 12px !import;
}

.chat-footer .chat-input .chat-inputs textarea {
  @apply bg-black/70 text-white;
}

.chat-footer .chat-input .chat-inputs .chat-input-send-button {
  @apply bg-transparent;
}

#n8n-chat > main > div.chat-footer {
  @apply border-0;
}

#n8n-chat > main > div.chat-body .chat-message.chat-message-from-bot {
  @apply bg-amber-500/20 border-amber-500/24 border-2;
}

#n8n-chat > main > div.chat-body .chat-message.chat-message-from-user {
  @apply bg-green-500/20 border-green-500/24 border-2;
}

#n8n-chat > main > div.chat-body .chat-message.chat-message-from-bot.chat-message-typing .chat-message-typing-circle{
  @apply bg-amber-500;
}